#define COMBO_TERM_DEFAULT 30
#define COMBO_QUICK_TAP_MS 100

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP) \
  combo_##NAME { \
    timeout-ms = <TERM>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    require-prior-idle-ms = <QUICKTAP>; \
  };

#define COMBO_DEFAULT(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    timeout-ms = <COMBO_TERM_DEFAULT>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    require-prior-idle-ms = <COMBO_QUICK_TAP_MS>; \
  };

/ {
    combos {
        compatible = "zmk,combos";

    /*
      KEY POSITIONS
      ╭─────────────────────────╮ ╭────────────────────────╮
      │  0   1   2   3   4   5  │ │  6   7   8   9   10 11 │
      │ 12  13  14  15  16  17  │ │ 18  19  20  21  22  23 │
      │ 24  25  26  27  28  29  │ │ 30  31  32  33  34  35 │
      ╰───────────╮  36  37  38 │ │ 39  40  41 ╭───────────╯
                  ╰─────────────╯ ╰────────────╯
    */

        esc_combo {
            timeout-ms = <100>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        del_combo {
            timeout-ms = <100>;
            key-positions = <10 11>;
            bindings = <&kp DEL>;
        };
        
        colon_combo {
            timeout-ms = <100>;
            key-positions = <6 18>;
            bindings = <&kp SEMICOLON>;
        };
        minus_combo {
            timeout-ms = <100>;
            key-positions = <18 30>;
            bindings = <&kp MINUS>;
        };
        
        volume_up {
            timeout-ms = <100>;
            key-positions = <10 22>;
            bindings = <&kp C_VOL_UP>;
        };
        volume_down {
            timeout-ms = <100>;
            key-positions = <22 34>;
            bindings = <&kp C_VOL_DN>;
        };

        COMBO_DEFAULT(excl, &kp EXCL, 1 13, BASE)
        COMBO_DEFAULT(at, &kp AT, 2 14, BASE)
    };
};