/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "./base.dtsi"
#include <dt-bindings/zmk/keys.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Base";
                        bindings = <
   &kp BSPC   &kp B        &kp L        &kp D        &kp W        &kp Z          &kp SQT  &kp F        &kp O        &kp U        &kp J        &kp BSPC
   &kp DEL &hml LSHFT N &hml LCTRL R &hml LALT T  &hml LGUI S  &kp G          &kp Y    &hmr RGUI H  &hmr RALT A  &hmr RCTRL E &hmr RSHFT I &kp SQT
   &kp GRAVE &kp Q        &kp X        &kp M        &kp C        &kp V          &kp K    &kp P        &kp DOT      &kp UNDER    &kp SEMICOLON     &kp ESC
                                       &kp LGUI     &mo 1        &kp SPACE      &kp RET  &mo 2        &kp TAB
                        >;
                };
                lower_layer {
                        display-name = "Lower";
                        bindings = <
   &trans    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7       &kp N8       &kp N9       &kp N0       &kp BSPC
   &trans  &hml LSHFT N6 &hml LCTRL N7 &hml LALT N8  &hml LGUI N9       &kp N0         &trans   &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &trans
   &trans  &trans       &trans       &trans       &trans       &trans         &trans   &trans       &trans       &trans       &trans       &trans
                                        &kp LGUI     &trans       &kp SPACE      &kp RET  &mo 2       &kp TAB
                        >;
                };

                raise_layer {
                        display-name = "Raise";
                        bindings = <
   &trans    &kp F1     &kp F2       &kp F3     &kp F4     &kp F5      &kp CARET &kp AMPS      &kp KP_MULTIPLY &kp LPAR     &kp RPAR     &kp BSPC
   &trans  &hml LSHFT F6 &hml LCTRL F7 &hml LALT F8  &hml LGUI F9       &kp F10         &kp MINUS &kp EQUAL     &kp LBKT        &kp RBKT     &kp BSLH     &kp GRAVE
   &trans  &kp F11       &kp F12       &kp F13       &kp F14       &kp F15         &kp F15 &kp PLUS      &kp LBRC        &kp RBRC     &kp PIPE     &kp TILDE
                                        &kp LGUI     &mo 1       &kp SPACE      &kp RET   &trans       &kp TAB
                        >;
                };

        };
};